<section class="article">
    {% for i in 1..5 %}
        <div class="article-content">
            <span class="article-date">| Friday, December 20, 2024</span>
            <h1 class="article-title">Development of marketplace in Sylius</h1>
            <span class="article-text mb-1">I've developed a sass enitier with Sylius technology. This sass provides a marketplace for customers who can make online sales and book appointments online. The application can also book appointments with the customer and reserve payment. The application can also manage all the brand's franchisees, and each franchisee can manage his or her own data. The application also manages invoicing.</span>
            <button>Read More</button>
        </div>
    {% endfor %}
</section>