<section class="container banner">
    <img class="banner-image mb-2" src="{{ asset('build/images/profil-picture.jpg') }}" alt="Photo de profil" loading="lazy">
    <h1 class="banner-title mb-1">Software developper, founder, and amateur sky diving.</h1>
    <p class="banner-text mb-2">I'm a software engineer specializing in web development. I have a passion to build simple, clean, and maintenable software. I'm fullstack developper, but I'm particularly passionate about front-end development.</p>
    <ul class="banner-icons-list">
        <a class="banner-icons-items" href="#">
            <i class="bi bi-linkedin fs-4"></i>
        </a>
        <a class="banner-icons-items" href="#">
            <i class="bi bi-facebook"></i>
        </a>
        <a class="banner-icons-items" href="#">
            <i class="bi bi-instagram"></i>
        </a>
        <a class="banner-icons-items" href="#">
            <i class="bi bi-github"></i>
        </a>
    </ul>
</section>