<section class="contact">
    <div class="contact-title mb-2">
        <i class="bi bi-envelope-fill"></i>
        <h1>Stay in touch</h1>
    </div>
    <span class="contact-text">Get notified when I publish something new, and unsubscribe at any time.</span>
    <div class="contact-subscribe mt-2">
        <input type="text" placeholder="Email Address" class="subscribe-fill">
        <button class="subscribe-join">Join</button>
    </div>
</section>