<section class="work">
    <div class="work-title mb-2">
        <i class="bi bi-briefcase-fill"></i>
        <h1>Work</h1>
    </div>
    <ul class="work-list">
        <li class="work-list-item">
        <i class="bi bi-facebook"></i>
            <div class="work-list-item-icon">
                <h1>Facebook</h1>
                <div class="work-list-item-infos">
                    <span>CEO & CTO</span>
                    <span>2024 - Present</span>
                </div>
            </div>
        </li>
        <li class="work-list-item">
        <i class="bi bi-amazon"></i>
            <div class="work-list-item-icon">
                <h1>Amazon</h1>
                <div class="work-list-item-infos">
                    <span>CEO</span>
                    <span>2020 - Present</span>
                </div>
            </div>
        </li><li class="work-list-item">
        <i class="bi bi-amd"></i>
            <div class="work-list-item-icon">
                <h1>AMD</h1>
                <div class="work-list-item-infos">
                    <span>Product Owner</span>
                    <span>2019 - 2020</span>
                </div>
            </div>
        </li><li class="work-list-item">
        <i class="bi bi-apple"></i>
            <div class="work-list-item-icon">
                <h1>Apple</h1>
                <div class="work-list-item-infos">
                    <span>Lead dev</span>
                    <span>2018 - 2019</span>
                </div>
            </div>
        </li><li class="work-list-item">
        <i class="bi bi-microsoft"></i>
            <div class="work-list-item-icon">
                <h1>Microsoft</h1>
                <div class="work-list-item-infos">
                    <span>Developper</span>
                    <span>2015 - 2018</span>
                </div>
            </div>
        </li>
    </ul>
</section>