<header class="navbar">
    <nav class="navbar-content">
        <ul class="navbar-content-links">
            <li class="navbar-content-item">
                <a href=" {{ path('app.home') }} " class="navbar-content-link">About</a>
            </li>
            <li class="navbar-content-item">
                <a href="" class="navbar-content-link">Article</a>
            </li>
            <li class="navbar-content-item">
                <a href="{{ path('app.projects') }}" class="navbar-content-link">Projects</a>
            </li>
            <li class="navbar-content-item">
                <a href="" class="navbar-content-link">Speaking</a>
            </li>
            <li class="navbar-content-item">
                <a href="" class="navbar-content-link">Use</a>
            </li>
        </ul>
    </nav>
</header>